@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-x pan-y;
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none;
}

/* Scrollbar Gizleme - Global */
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Güvenli Alanlar (iPhone çentiği vb. için) */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}